/*------background styling------*/

{   
	background-color: white;
	margin:0;
	padding:0;
}
/*------section styling------*/
section {
    
  background-color: #E9E9E9;
  width: 1000px;
  height:vh; /*vh is for the browser's viewport height */
  margin: auto; 
}




/*------header text styling------*/
#headerimage h1{
    font-size: 55px;
    color: white;
    letter-spacing :2.5px;
    z-index: 1;
    position: absolute;
    top: 200px;
    text-align:  center;
    width:100%;
    line-height :50px;
    
}
/*------header image  styling------*/
#headerimage {
   
   background: url(../img/demo/_small/swissalps.jpg);
  
  background-size: cover;
  padding-bottom: 70px;
  position:center;
  z-index: -1;
  width:100%;
  height:125vh; /*vh is for the browser's viewport height */
}

/*------text styling------*/

 body, p, nav {
    color :#2C2B4D;
    margin: 0;
    font-size :15px;
    line-height :30px;
    font-weight :300;
    letter-spacing :.6px;
    display: inline;
    text-align: center;
    font-family: 'Roboto',  serif;
} 
/*------Setting the style for the figure captions------*/
caption {
	font-size:13px;
	font-weight: 150;
}
/*------setting the style for h1------*/
h1 {
	font-size: 25px;
	font-weight: 100;
	line-height: 45px;
	letter-spacing :.6px;
}
/*------setting the style for h2------*/
h2 {
	font-size: 20px;
	font-weight: 25;
	line-height :20px;
}

/* nav bar styling */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DE869D;
    position: fixed;
    top: 0;
    width: 100%;
	opacity: .95;
	z-index: 2;
    

}

/*float all sections to right */
.nav li{
    float: right;       
}

/*Padding, font and font color for navigational controls*/

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


/*When mouse hovers over section it will change to this color */

 li a:hover:not(.active) {
    background-color: #F1A9B5;
}

/*When section is active it will be a different color */
.active {
    background-color: #89749F;
    text-decoration-color: white;
}






/*------about me:skills icon styling, icons by ------*/

.skills img {
	display:inline;
	width:10%;
	height:17vh;
  opacity: .5;
	

}

/*------interests image styling------*/


.icon img{
  

  shape-outside: url(italy.jpg), url(surfingt&t.jpg);
  shape-image-threshold: 1.50px;
  float: right;
  width: 20%;
  height: 30%;
  top: 10px; 

}

/* Portfolio icon Styling*/
 
#Portfolio {
  letter-spacing: 10px; 
}

 #portfolioicon1 {
  display: inline;
  width: 100px;
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/demo/_small/juicecaboose.png");
  opacity:.35;
}

#portfolioicon2{
  display:inline;
  width: 100px;
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/demo/_small/beericon.png");
  opacity:.35;
}

#portfolioicon3{
  display:inline;
  width: 100px;
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/demo/_small/brickbreaker.png");
  opacity:.35;
}

#portfolioicon4{
  display:inline;
  width: 100px;
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/demo/_small/SVGChallenge.png");
  opacity:.35;
}

/* Contact me icon styling 
#contacticon1{
  display:inline;
  width: 65px;
  height: 65px;
  background-image: url("../img/demo/socialmedia/linkedin.png");
  
}

#contacticon2{
  display:inline;
  width: 65px;
  height: 65px;
  background-image: url("../img/demo/socialmedia/github.png");
  
}

#contacticon3{
  display:inline;
  width: 65px;
  height: 65px;
  background-image: url("../img/demo/socialmedia/twitter.png");

  
}



/*Icons are from http://tomswebspace.com/round-social-media-icons/ */

